extends layout
include mixins/galleryNav
block content
  .container
    .row(style="min-height:300px")
      .col-6
        div(style="height:250px; display:flex; justify-content:center; padding-top:20px").col-12.text-center
          img(id='logo' src='\\images\\logo.png')
      .col-6
    .row(style="min-height:0px")
      .col-12.text-center
        +galleryNav
    .row(style="min-height:540px")
      .col-1
      .col-10
        .container
          .row
            div(style="height:400px; ").col-12.textBody
              p &nbsp;
              .fancyText
                p
                  |  Hello and welcome to my world! I&rsquo;m so honored you are visiting. Lollipops &amp; Rainbow Photography, LLC specializes in capturing those special memories in life&rsquo;s events. In the midst of chaos and changes there are short, sporadic moments that make us laugh, smile and stop to enjoy. In those moments you are transported to a world that is happy and stress free&mldr; Lollipops and Rainbow world!
                p
                  | I live in Weddington, NC and I&rsquo;m married to my high school sweetheart. We drive each other nuts everyday &ndash; but we would not want it any other way. We have 2 beautiful daughters that definitely keep us on our toes and entertained. They never shy away from an opportunity to be in front of the camera and you&rsquo;ll no doubt see them all over my page. We have a new puppy boy who is super spoiled.
                p
                  | I look forward to hearing from you and letting me know how I can help you capture 
                  em your Lollipops &amp; Rainbow memories
                  | .
              p &nbsp;  
              p
                h5  Family sessions
              p
                | While setting the delay timer on your family camera and running to get in place can be entertaining (and good exercise!), let me help take the stress out of capturing your family memories. Parks and other outdoor areas make for great settings. Family sessions usually take about 45 minutes to 1 hour depending how many people are involved.
              p Price includes:
              ul
                li Travel in the local area for the photography shoot.
                li Providing simple props (for the young ones) and backgrounds (if done indoors).
                li
                  | A digital copy (on a zip drive or CD) of every great edited photograph. [Allow for approximately a 1-2 week turn around.]
              p &nbsp;
              p
                em Estimated price: $250
              p &nbsp;
              p
                h5 Newborn
              p
                | My favorite type of photographs! I love working with the infants. The children change so fast at this stage and you want to have these memories captured forever. These sessions generally take about 1-2 hours. There is a lot of patience with newborns; I can work around their schedules.
              p Price includes:
              ul
                li Travel in the local area for the photography shoot.
                li Providing simple props and backgrounds.
                li
                  | A digital copy (on a zip drive or CD) of every great edited photograph. [Allow for approximately a 1-2 week turn around.]
              p &nbsp;
              p
                em Estimated Cost: $350
              p &nbsp;
              p
                h5 Babies to Toddlers/ Cake Smash
              p
                | I strive to make the kids comfortable. However, kids can have bad days. I try to do these time slots in the morning before they get tired. However, I&rsquo;m open to other time slots.
              p Price includes:
              ul
                li Travel in the local area for the photography shoot.
                li Providing simple props and backgrounds.
                li
                  | A digital copy (on a zip drive or CD) of every great edited photograph. [Allow for approximately a 1-2 week turn around.]
              p &nbsp;
              p
                em Estimated Cost: $200
              p &nbsp;
              p
                h5 Smoke Bombs
              p
                | If you aren&rsquo;t familiar with smoke bombs in photography you have to check these out! They make for unique images, great for taking in motion photos, and can be done in a variety (and mixture) of colors. Safe for young kids and those young at heart! Must be done outdoors.
              p
                | The smoke bombs generally last about 90 seconds. It goes by quick and we&rsquo;ll be sure to practice the poses before the smoke bomb is set off to get the best shots. I&rsquo;ll also have a partner with me to help work the smoke bombs.
              p Price includes:
              ul
                li Travel in the local area for the photography shoot.
                li Smoke bombs (of course!).
                li
                  | A digital copy (on a zip drive or CD) of every great edited photograph. [Allow for approximately a 1-2 week turn around.]
              p &nbsp;
              p
                em Estimated Cost: $250
              p &nbsp;
              p
                h5 Pets
              p
                | I love furry ones&mldr;or whatever your extra family members are covered in (with, well, some limitations :). I know they are a part of the family&mldr;and sometimes they ARE the children! In any case, they also deserve the spotlight at times.
              p Price includes:
              p Travel in the local area for the photography shoot.
              ul
                li Travel in the local area for the photography shoot.
                li Providing simple props and backgrounds.
                li
                  | A digital copy (on a zip drive or CD) of every great edited photograph. [Allow for approximately a 1-2 week turn around.]
              p
                em Estimated cost: $100
              p &nbsp;
              p
                h5 Event Planning
              p
                | Birthday parties, surprise parties, graduations, fundraisers to weddings&mldr; I help with all details, organization, coordination, setting schedules and much, much, more. Let me help relieve the stress of overseeing the event. I am the one who can take care of the logistics before and during the festivities, so your only focus is what you are celebrating on that day. Please contact me to discuss details.
              p
                em Estimated cost: Will vary, ranging from $150-1,200 (or more for complex events). 
              p &nbsp;
              p &nbsp;
              p &nbsp;
      .col-1
    
  append head
    script(src='/javascripts/main.js')