extends layout
include mixins/galleryNav
block content
  .container
    .row(style="min-height:300px")
      .col-6
      .col-6
    .row(style="min-height:0px")
      .col-12.text-center
        +galleryNav
    .row(style="min-height:540px")
      .col-1
      .col-10
        .container
          p &nbsp;
          h5= title
          p Please use the form below to send us a message!
          form.form(action="/email", method="POST")
            .form-group
              label(for="firstName") Enter your first name:
              br
              input.form-control(type="text", name="firstName", id="firstName", required)
              br
              label(for="emailAddress") Enter your email address:
              br
              input.form-control(type="email", name="emailAddress", id="emailAddress", required)
              br
              label(for="message") Message:
              br
              input.form-control( name="message",id="messageBox", required)              
              br
              input.btn-lg.btn.btn-outline(type="submit", value="Submit") 
      .col-1
    