body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fancyText {
  font-family: cursive;
  font-size: large;
}

.textBody p {
  text-indent: 10px;
}