body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: rgb(49, 153, 152); */
  height: 100%;
  
}

.body-bg { 
  background: url("../images/Blurred-Background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.fancyText {
  font-family: cursive;
  font-size: large;
}

.textBody p {
  text-indent: 10px;
}

.btn-outline-dark {
  border: 1px solid rgb(184, 161, 182);
  border-radius: .25rem;
  color:white;
  background-color: rgb(227,179,224);
}

.btn-outline-dark:hover {
  background-color:white;
  border-color: rgb(227,179,224);
  color:rgb(227,179,224);
}

.fa {
  padding: 10px !important;
  font-size: 20px !important; 
  width: 50px; 
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: rgb(227,179,224);
  color: white;
}
.fa-facebook:hover {
  background: white;
  color: rgb(227,179,224);
}

.fa-instagram {
  background: rgb(227,179,224);
  color: white;
}

.fa-instagram:hover {
  background: white;
  color: rgb(227,179,224);
}